@media(max-width: 950px ){
    .background{
        .open-menu{}
        .gris{
            .close-menu{
                align-self: flex-end;
                opacity: 0.5;
            }
            .container{
                .navbarmenu1{
                    flex-direction: column;
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    align-items: center;
                    background-color: var(--menu-mobile-background);
                    color: var(--color-secundario);
                    line-height: 60px;
                    overflow: auto;
                }
            }
        }
        .home{
            downloadbutton{
                    margin: 12px;
            }
        }
    }
}

.open-menu,
.close-menu{
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

.menu_opened{
    opacity: 1;
    pointer-events: all;
}