:root{
    --color-primario: #E3D8D4;
    --color-secundario: #F8F7F4;
    --color-terciario: #BBA7A1;
    --otrocolor-primario: #B78989;
    --otrocolor-secundario: #684e4e;
    --otrocolor-terciario: #877171;
    --otrocolor-cuaternario: #ECDFDF;
    --color-texto: #7a5d61;
    --menu-mobile-background: #977177d3;

    --fuente-normal: 1em;
    --fuente-pequena: 0.8em;
    --fuente-grande: 1.4em;

    --tipografia-general: "Comfortaa", sans-serif
    --tipografia-titulo: "Righteous", sans-serif;
    --tipografia-inicio: "Sofia", cursive;
}
